@model IEnumerable<BidEntity>

@{
    ViewData["Title"] = "OutcomingBids";
}

<table>
    <h1> Your active Bids</h1>
    <thead>
        <tr>
            <th>Supplier Name:</th>
            <th>Your Bid</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in ViewBag.BidList)
        {


            <tr onclick="location.href = '@(Url.Action("SingleTask", "Task", new { id = row.TaskId }))'">
                <td>@row.SupplierUsername</td>
                <td>@row.Bid DKK</td>
                <td>@row.DateCreated</td>
            </tr>


        }

    </tbody>
</table>

<table>

    <thead>
        <tr>
            <th>Supplier Name:</th>
            <th>Your Bid</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in ViewBag.ConfirmedList)
        {
            <tr onclick="location.href = '@(Url.Action("ArchivedTask", "Task", new { id = row.TaskId }))'">
                <td>@row.SupplierUsername</td>
                <td>@row.Bid DKK</td>
                <td>@row.DateCreated</td>
            </tr>
        }
    </tbody>
</table>
<style>
    table, th, td {
        border: solid 1px #bbbbbb;
        border-collapse: collapse;
        padding: 2px;
    }
</style>
