@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@model IEnumerable<TaskEntity>
@{
        ViewData["Title"] = "SingleTask";
}
@foreach (var row in Model)
{

<h1>@row.Title</h1>
<h2>@row.Category</h2>
<h3>Date Created: @row.DateCreated</h3>
<div>
    <p>
        @row.Description
    </p>
    <p>
        Place: @row.Location
    </p>
</div>
<h3>Bid on task:</h3>


@if ((await AuthorizationService.AuthorizeAsync(User, "ContributorAccess")).Succeeded)
    {
<form asp-controller="Bidding" asp-action="SendBid" asp-route-taskId="@row.Id" method="post">
    <label for="Bid">Bid :</label>
    <input type="number" id="newBid" name="Bid" required>DKK
    <input type="submit" onclick="return confirm('Are you sure you want to bid?')" id="submitButton" value="Bid on task" />
</form>
    }
    else
    {
<div>
    Only contributors can bid on this task. <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a> with a contributor profile to proceed.
</div>
    }
<script>
        function openpopup()
        {
        window.open("@Url.Action( "Index", "Category")","Categories","[width=100,height=200,scrollbars=no,resizable=no]")
        
</script>
}



