@model IEnumerable<CategoryEntity>
@{
    ViewData["Title"] = "AddTask";
}
@{var QueryHousekeeping = from Type in Model
                            where Type.Type == "Housekeeping"
                            select Type; }
@{var QueryGarden = from Type in Model
                      where Type.Type == "Garden"
                      select Type; }
@{var QueryMisc = from Type in Model
                    where Type.Type == "Misc"
                    select Type; }

<h1>Create a task</h1>



<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<form asp-controller="Task" asp-action="Save" method="post">
    <label for="Title">Task Title:</label><br>
    <input type="text" id="Title" name="Title" placeholder="Write a short description of what your task"required> <br>
    <label for="Description">Task Description:</label><br>
    <input type="text" id="Description" name="Description" placeholder="Describe the task in detail e.g length, height and amount of work that needs to get done."required><br>
    <label for="Salary">Estimated hourly salary:</label><br>
    <input type="number" id="Salary" name="Salary" placeholder="Work pay per hour"required> DKK <br><br>
    <label for="Duration">Estimated Work Duration:</label><br>
    <input type="number" id="Duration" name="Duration" placeholder="Amount of work hours required" required> Hours<br><br>
    <label for="Location">Location of task:</label><br>
    <input type="text" id="Location" name="Location" placeholder="City, Zipcode, Country"required> <br><br>

    <div id="CategoryContainer">
        <label for="Category"> Task Category: </label>
        <select id="Category" name="Category">
            <option disabled>Choose a category your task fits best in...</option>
            <optgroup label="Housekeeping">
                @foreach (var row in QueryHousekeeping)
                {
                    <option value="@row.Name"> @row.Name </option>
                }
            </optgroup>
            <optgroup label="Garden">
                @foreach (var row in QueryGarden)
                {
                    <option value="@row.Name"> @row.Name </option>
                }
            </optgroup>
            <optgroup label="Miscellaneous">
                @foreach (var row in QueryMisc)
                {
                    <option value="@row.Name"> @row.Name </option>
                }
            </optgroup>
        </select>
    </div>


    <input type="submit" id="SubmitButton1" value="Create Task" />
</form>


