@model IEnumerable<CategoryEntity>
@{
    ViewData["Title"] = "ShowCategories";
}

<h1>Current categories</h1>

<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Sub-Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
        <td> no items </td>
        <td> no items </td>
    }
    else
    {
        @foreach (var row in Model)
        {
            <tr>
                <td>@row.Type</td>
                <td>@row.Name</td>

                <td>
                    <a asp-controller="Category" asp-action="Delete" asp-route-name="@row.Name" onclick="return confirm('Are you sure you want to delete the Category: @row.Name (@row.Type)?')">Delete</a>
                </td>
            </tr>

        }
    }
</tbody>
    </table>
    <style>
        table, th, td {
            border: solid 1px #bbbbbb;
            border-collapse: collapse;
            padding: 2px;
        }
    </style>


    <input type="button" value="Add category" onclick="openpopup()">



    <script>
        function openpopup()
        {
          window.open("@Url.Action( "Index", "Category")","Categories","[width=100,height=200,scrollbars=no,resizable=no]")
        }
    </script>
